<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Vue Masonry Css Example</title>
<meta name="viewport" content="width=device-width" />
<meta name="google" content="notranslate" />
<style>
  body{margin: 3%;font-family: sans-serif;font-size: 14px;line-height:1.5}
  label{ font-weight: bold }
  pre,code {background: #f5f5f5;padding: 3px}

  .item {
    background: #ccc;
    margin-bottom: 30px;
    padding: 2vw;
  }
  .item--small {
    margin-bottom: 10px;
  }
  h4, h2, p {
    margin: 0;
  }
</style>
</head>
<body>

<a href="https://github.com/paulcollett/vue-masonry-css">&larr; GitHub / Docs</a>
<h2>vue-masonry-css example</h2>
<p style="margin-bottom: 20px;">A Vue masonry component powered by CSS to rendered fast, responsive and to be free of jQuery or other dependencies. Build specifically for Vue projects.</p>

<div id="app">
  <masonry
  :cols="{default: 4, 1000: 3, 700: 2, 400: 1}"
  :gutter="{default: '30px', 700: '20px'}"
  >
    <div v-for="(item, index) in 10" :key="index" class="item">
      <h4>Item: {{index + 1}}</h4>
      <img
        v-dummy="'100,300x100,300'"
        data-color="#eee"
        data-text="Random Sized Image"
        style="max-width: 100%"
      />
      <p v-dummy="3,30"></p>
    </div>
  </masonry>
  <hr />
  <h4>Dynamic Masonry Layout showing re-rendering:</h4>
  <dynamically-generated-masonry></dynamically-generated-masonry>
  <hr />
  <h4>Example with static HTML (see source):</h4>
  <masonry
  :cols="{default: 4, 1000: 3, 700: 2, 400: 1}"
  :gutter="{default: '30px', 700: '20px'}"
  >
    <div class="item">My Element 1</div>
    <div class="item">My Element 2</div>
    <div class="item">My Element 3<br /> With another line</div>
    <div class="item">My Element 4</div>
    <div class="item">My Element 5</div>
    <div class="item">My Element 6</div>
    <div class="item">My Element 7</div>
    <div class="item">My Element 8</div>
  </masonry>
  <hr />
  <h4>Example with a mix of static HTML and dynamically rendered (see source):</h4>
  <p>Also, a smaller gutter size</p>
  <masonry
  :cols="{default: 5, 1000: 4, 700: 3, 500: 2, 400: 1}"
  :gutter="{default: '10px'}"
  >
    <div class="item item--small">My Element 1</div>
    <div class="item item--small">My Element 2</div>
    <div v-for="(item, index) in 3" :key="index" class="item item--small">Item: {{index + 1 + 2}}</div>
    <div class="item item--small">My Element 6</div>
    <div class="item item--small">My Element 7</div>
    <div class="item item--small">My Element 8</div>
  </masonry>
  <hr />
  <p><em>Placeholder text and images rendered with <a href="http://github.com/paulcollett/vue-dummy">Vue-Dummy</a></em></p>
</div>


<script src="./demo-bundle.js"></script>
</body>
</html>
