<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<style>
  .item {
    background: #ccc;
    margin-bottom: 20px;
  }
</style>
</head>
<body>
<div id="app">
  <!--<masonry>
    <div v-for="i in 5">{{i}}</div>
  </masonry>-->
  <hr />
  <masonry
  :cols="{default: 4, 1000: 3, 700: 2, 400: 1}"
  :gutter="{default: '30px', 700: '20px'}"
  >
    <div v-for="(item, index) in 10" :key="index" class="item">Item: {{index + 1}}</div>
  </masonry>
  <hr />
  <!--<masonry
  :cols="{default: 4, 1000: 3, 700: 2, 400: 1}"
  :gutter="{default: '30px', 700: '20px'}"
  >
    <div>My Element</div>
    <div>My Element</div>
  </masonry>
  <hr />
  <masonry
  :cols="{700: 2}"
  :gutter="{700: '20px'}"
  >
    <div>My Element</div>
    <div>My Element</div>
  </masonry>-->
</div>

<script src="./demo-bundle.js"></script>
</body>
</html>
